html, body {
    background-color: black;
    width: 7680px;
    height: 2160px;
    overflow: hidden;
    -webkit-user-select: none;
    font-family: 'microsoft yahei', 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;

}

body * {
    box-sizing: border-box;

}

.container {
    position: absolute;
    background-size: 100% 100%;
    width: 7680px;
    height: 2160px;
    left: 0;
    top: 0;
    transform-origin: 0 0;
}



.leaflet-container .leaflet-right {
    display: none;
}

.maptalks-attribution {
    display: none !important;
}

