<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>环形图</title>
    <style>
        html,body,.containter{
            width: 100%;
            height: 100%;
            background: #000;
        }
    </style>
</head>
<body>
    <div class="containter"></div>
    <script src="../../assets/libs/echarts/echarts.min.js"></script>
    <script src="../../assets/libs/jquery/jquery-2.1.1.min.js"></script>
    <script src="../../assets/libs/zrender/zrender.min.js"></script>
    <script src="./ring.js"></script>
    <script>
        new Ring({
            el:$('.containter').get(0),
            data:[{scale:0.2,color:'#f00'},{scale:0.3,color:'#ff0'},{scale:0.5,color:'#fff'}]
        })
    </script>
</body>
</html>