<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>瓦片地图测试</title>
    <link rel="stylesheet" href="../../assets/libs/maptalks/maptalks.css">
    <style>
        .text_marker{font:30px bold sans-serif;color:#34495e;text-shadow:2px 0 white;width:160px}
    </style>
    <style>
        html,body{
            width: 100%;
            height: 100%;
            margin: 0;
        }
        .containter{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="map" class="containter"></div>
    <script src="../../assets/libs/jquery/jquery-2.1.1.min.js"></script>
    <script src="../../assets/libs/maptalks/maptalks.min.js"></script>
    <script src="./map.js"></script>
</body>
</html>