<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/birdforecast.css">
</head>
<body>
    <div class="bird-wrap">
      <div class="caption">
        鸟情预测
      </div>
      <div class="close-btn" id="close-btn">
        <img src="../images/close.png" alt="">
      </div>
      <div class="chart"></div>
    </div>
    <script type="text/javascript" src="../javascripts/common.js"></script>
    <script src="/libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="/libs/echarts.common.min.js"></script>
    <script src="/javascripts/birdforecast.js"></script>
</body>
</html>
