<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>
<body style="background-color: #b1001d">
<select title="type">
    <option value="10">移动式太阳能声波驱鸟器</option>
    <option value="08">全向声波驱鸟器</option>
    <option value="05">煤气泡</option>
    <option value="07">定向声波声波驱鸟器</option>
    <option value="06">声音驱鸟系统</option>
    <option value="09">塔式声波驱鸟系统</option>
</select>

<script type="text/javascript">
    $('select').select2();
</script>
</body>
</html>


