<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/base.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<form action="" mehtod="post" id="form">
    <div class="checkin">
        <div class="off"></div>
        <div class="content">
            <div class="logo">
              <img src="../images/logo.png" alt="">
            </div>
            <input type="text" placeholder="User Name" name="username" id="username">
            <input type="password" placeholder='Password' id="password" name="password">
           <div class="sinin">
               <input type="button" id="login" value="登录" class="sinin">
               <div class="sinin-ico">
                 <img src="../images/signin.png" alt="">
               </div>
           </div>

        </div>
    </div>
</form>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/login.js"></script>
</body>
</html>
