<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    table{
      width: 100%;
      text-align: center;
      border-collapse:collapse;
    }
    td{
      width: 310px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-bottom: 1px solid #000;
    }
    thead th{
      width: 310px;
      height: 40px;
      line-height: 40px;
      text-align: center;

    }
    thead th span{
      width: 99%;
      background: #ccc;
      display: inline-block;
    }
  </style>
</head>
<body>
  
</body>
</html>
