<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/base.css">
  <link rel="stylesheet" href="/stylesheets/usermanger.css">
</head>
<body>

    <div class="wrap" id="userManger">
      <div class="caption">
        用户管理
      </div>
      <div class="close-btn" id="close-btn">
        <img src="../images/close.png" alt="">
      </div>
      <ul>
        <li class="base"></li>
      </ul>
    </div>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/usermanger.js"></script>
</body>
</html>
