body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #000014;
	font-family: 'Microsoft YaHei';
}

.chart-left{
	width: 1045px;
	height: 900px;
	position: absolute;
	top: 115px;
	left: 63px;
	background: #131126;
}

.chart-right {
	width: 716px;
	height: 900px;
	position: absolute;
	top:115px;
	right: 57px;
}

.chart-right .top{
	width: 716px;
	height: 434px;
	background: #131126;
}

.chart-right .bottom{
	width: 716px;
	height: 434px;
	margin-top: 32px;
	background: #131126;
}